/* General */
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
/* header */

header {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
}
.header_haut {
  display: flex;
  width: 100%;
}
.logo {
  width: 80%;
  flex: 1 1 auto;
}
nav {
  width: 800px;
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
}
.nav_item {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}
.nav_lien {
  margin: auto;
}
.selected {
  border-top: blue 1px solid;
}
/* style barre de recherche */
.search {
  height: auto;
  margin: 0;
  padding: 0;
}
.search_bar{
  height: 35px;
  display: flex;
}
.search_icon {
  height: 100%;
  width: 20px;
  color: #0065fc;
  background-color: #f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search_button{
  background-color: #0065fc;
  margin: 0;
  border-radius: 0px 10px 10px 0px;
  border: none;
}
.ligne_info {
  display: flex;
  align-items: baseline;
}
.ligne_info:nth-child() {
  margin: auto;
}

.filter {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
}
.filter_title {
  color: red;
}
.filter_icon {
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
}
.filter:hover {
  transform: rotate(90), scale(1.1);
}

.filter_type {
  border: 1px solid grey;
  border-radius: 50px;
  font-size: 15px;
  margin-left: 5px;
}
.centered_icon {
  margin-top: 10px;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  /* font-size: 40px; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}

/* style section hébergement */
div.hebergement {
  display: flex;
  flex-wrap: wrap;
}
.hebergement_titre {
  flex: 100%;
}
div.hebergement_resultat {
  width: 60%;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
div.carte_resultat {
  border: 5px solid white;
  background-color: white;
  border-radius: 10px;
  flex: 1 1 auto;
  margin: 5px;
  width: 25%;
}

.hotel_pictures {
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
.card_title {
  font-size: small;
  font-weight: bold;
  margin: 0%;
}
.card_description {
  font-size: smaller;
  margin: 0%;
}
.rating {
  font-size: small;
  margin: 0%;
}

.section_bottom{
  flex:100%;
  font-size: small;
  margin:15px;
}
.favorite_place {
  width: 30%;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.favorite_place_header{
display: flex;
justify-content: space-between;
}
.favorite_icon{
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.5em;
}
i.blue {
  color: #0065fc;
}
.favorite_card{
background-color: white;  
  width: auto;
  border: 5px solid white;
  border-radius: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.favorite_picture{
  border-radius: 10PX;
  width: 50%;
  height: auto;
  object-fit: contain;
}
i.grey {
  color: grey;
}
/* FOoter */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: lightgray;
  margin-top: 20px;
}
.footer-section:nth-child(1){
  margin-left: 10px;
}
