/* General */
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
/* header */

header {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
}
.header_haut {
  display: flex;
  width: 100%;
}
.logo {
  width: 80%;
  flex: 1 1 auto;
}
nav {
  width: 800px;
  display: flex;
  color: #f2f2f2;
  justify-content: space-between;
}
.nav_item {
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
}
.nav_lien {
  margin: auto;
}
.selected {
  border-top: blue 1px solid;
}
/* style barre de recherche */
section.recherche {
  margin: 0;
  padding: 0;
}
.ligne_info {
  display: flex;
  align-items: baseline;
}
.ligne_info:nth-child() {
  margin: auto;
}

.filter {
  display: flex;
  margin-top: 15px;
}
.filter_title {
  margin: auto;
}
.filter_icon {
  height: 100%;
  width: auto;
  border-radius: 50%;
  border: 1px solid black;
  background-color: blue;
  color: white;
}

.filter_type {
  margin: auto;
  border: 1px solid grey;
  border-radius: 50px;
  font-size: 15px;
}
.centered_icon {
  margin-top: 10px;
  color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  /* font-size: 40px; */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.05);
}

/* style section hébergement */
div.hebergement {
  display: flex;
  flex-wrap: wrap;
}
.hebergement_titre {
  flex: 100%;
}
div.hebergement_resultat {
  width: 60%;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
div.carte_resultat {
  border: 5px solid white;
  background-color: white;
  border-radius: 10px;
  flex: 1 1 auto;
  margin: 5px;
  width: 25%;
}

.hotel_pictures {
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}
.card_title {
  font-size: small;
  font-weight: bold;
  margin: 0%;
}
.card_description {
  font-size: smaller;
  margin: 0%;
}
.rating {
  font-size: small;
  margin: 0%;
}

.section_bottom {
  position: relative;
  position: bottom;
}
div.hebergement_populaire {
  width: 30%;
  border-radius: 5px;
  background-color: lightgrey;
  margin: auto;
}

i.blue {
  color: blue;
}

i.grey {
  color: grey;
}
/* FOoter */

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightgray;
  margin-top: 20px;
}
